/* style for footer */
footer {
    height: 40px;
    color: white;
    background-color:  #352828;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigationbar */
#navbar{
    display: flex;
    align-items: center;
  position: sticky;
    top: 0px;
    background-color: #352828;
    width:100%;
}
#logo{
    margin: 5px 50px;
    display: flex;
    align-items: center;
}
#logo img{
    margin: 2px 3px;
    width: 10%;
    height:10%;
}
#logo #icon{
    color: #36BB8A;
}
a:active {
    color: red;
  }
#logo a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: poppins;
}

#navbar ul{
    display: flex;
    width: 100%;
   justify-content: right;
   margin-right: 50px;
    
}
#navbar ul li{
list-style: none;
font-size: 1.1em;

}
#navbar ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family: poppins;
    
}
#navbar ul li a:hover{
    color: #E74F3B;
    border-radius: 20px;
}
a:active {
  
    color: #f44336 !important;
}