/* styling for pagination */
div#pagination{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  #pagination li{
    display: inline-block;

    list-style-type: none;
    color: black;
    flex-direction: row;
  
  
    text-decoration: none;
  }
  #pagination li a{

    padding: 10px 20px;
    margin: 5px;
    background-color: #160a08;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  #pagination a.active {
    background-color: #a1382a;
    color: white;
    border-radius: 5px;
  }
  
  #pagination a:hover:not(.active) {background-color: rgb(172, 68, 68);}